<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Incio</title>
</head>
<body>
  <div class="container color-dark">
    <div class="col">
      <p>INGRESO DE DATOS</p>
    </div>
    <div class="col">
      <p>COLABORATIVO</p>
    </div>
  </div>
  <div class="container color-light">
    <div class="col">
      <button mdbBtn type="button" color="elegant" mdbWavesEffect>Actor</button>
      <button>Tema</button>
    </div>
    <div class="col">
      <button type="button" pButton label="Matriz" (click)="crearMatriz($event);"></button>
      <p-confirmDialog  key="Crear Matriz" header="Crear Matriz" icon="fa fa-question-circle" [(visible)]="confirmDropDatabaseDialogVisible" #cd>
        <p-footer id="footer">
            <button mat-button color="success" (click)="cd.accept()">
              Nuevo
            </button>
            <button mat-button color="success" (click)="old()">
              Actual
            </button>
        </p-footer>
    </p-confirmDialog>
    </div>
  </div>
</body>
</html>
