<div *ngIf="loading; else notShow">
  <h4>LOADING</h4>
</div>
<ng-template #notShow>
<div align="right">
  <button mat-icon-button color="success" (click)="dataSource()">
      <mat-icon>refresh</mat-icon>
  </button>
  <button mat-button (click)="openDialog('Crear Padre',{},null)" mat-flat-button color="primary">Nuevo Tema</button>   
</div>
<ejs-treegrid #treegrid 
[dataSource]="allLinks" 
[treeColumnIndex]= "0"
idMapping ="id" childMapping= "hijos"
[allowPaging]="true" 
[pageSettings]="pageSettings" [allowSorting]="true" 
[allowFiltering]="true" 
width = '100%'
height = '100%'
>
  <e-columns>
     <!-- <e-column
      field="id"
      headerText="TemaID"
      textAlign="Left"
      type= "number"
      width= "90"
      isPrimaryKey = "true"
      editType = "numericedit"
      [edit]="numericParams"
      ></e-column>-->
      <e-column
      field="name"
      headerText="Tema"
      textAlign="Left"
      width= "200"
      >
      <ng-template #template let-data>
        <span *ngIf="data.parent == false" class="material-icons">
            <mat-icon class="hijo">subdirectory_arrow_right</mat-icon>
        </span>
        {{data.name}} 
      </ng-template>
    </e-column>
      <e-column
      field="prioridad"
      headerText="Prioridad"
      type= "number"
      textAlign="Left"
      width= "100"
      editType = "numericedit"
      [edit]="numericParams"
      >
      <ng-template #template let-data>
        <p-rating class="star" [(ngModel)]="data.prioridad" [cancel]="false" (onRate)="handleRate($event,data.id)" stars="3"></p-rating>
      </ng-template>
      </e-column>
      <e-column
      field="coments"
      headerText="Comentario"
      textAlign="Left"
      width= "100"
      hideAtMedia='(min-width: 700px)'
      ></e-column>
      <e-column width="150"> 
          <ng-template #template let-data> 
              <button mat-icon-button color="primary" (click)="openDialog('Crear',{},data)" *ngIf="data.level == 0 || data.level == 1  || data.level == 2">
                  <mat-icon>person_add</mat-icon>
              </button>
              <button mat-icon-button color="accent" (click)="openDialog('Editar',data,data)">
                  <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="openDialog('Eliminar',data,data)">
                  <mat-icon>delete</mat-icon>
              </button>
          </ng-template> 
      </e-column>
  </e-columns>
</ejs-treegrid>
</ng-template>

