.classColor {
  background-color: yellow; 
 }
 
.selected {
  background-color: yellow;
}

 .modeColor {
  background-color: lightblue; 
 }
 
 .paramColor {
  background-color: lightgreen; 
 }
 
 .valueColor {
   background-color: lightgrey;
 }
 table {
  border-spacing: 0px;
}

th, td {
  border: 1px solid black;
  text-align: left;
}

.test1{
    border: 1px solid black;
    border-collapse: collapse;
}

ul {
  padding: 5px;
  display: inline-block;
  list-style: none;
  height: 100%;
}

.separator--vertical {
  border-left: 3px solid #5f656d;
  width: 1px;
  height: 100%;
}

span{
  height: 100%;
  
}

span.empty_fill {
  display:block;
  overflow:hidden;
  width:100%;
  height:100%;
}

.center {
  text-align: center;
}

.green-icon {
  color: green;
  transform: scale(0.90);
}
.yellow-icon {
  color: yellow;
  transform: scale(0.90);
}
.red-icon {
  color: red;
  transform: scale(0.90);
}


.mat-button-toggle{
   width:75%;
}

.mat-button-toggle-disabled {
  border: 1px solid #c5c0c7;
  background-color: #e1dde5;
}



*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  background: rgba( 71, 147, 227, 1);
}
h2{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
  margin: 10px 2px 2px;
  box-shadow: 0px 5px 5px rgba( 0, 0, 0, 0.2 );
  align-content: right;
  overflow-x:auto;
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 1px;
}

.fl-table th {
  text-align: center;
  padding: 1px;
  width: 10%;
}

.fl-table td {
  border-right: 1px solid #000000;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #324960;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

.fl-table tbody {
  width: auto;
  position: relative;
  overflow-x: auto;
}
.fl-table tbody th {
  color: #ffffff;
  background: #4579ad;
}

.fl-table tbody td {
  text-align: left;
}
/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      overflow-x:auto;
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }

}